extends layout

block content
	//- h1= title
	//- p Welcome to #{title}
	//- p What is up
	div.row
		div.col-md-6.centered.text-center
			img(src="/img/logo.png", width="200px")
			br
			if (req.isAuthenticated())
				h1= req.user.username
				a(href='/logout') logout 
				a(href='/ask') ask
			else
				a(href='/signup') signup 
				a(href='/login') login 
				a(href='/auth/facebook') facebook
			div#questionContainer 
				each question, index in questions
					div.row
						div.col-md-3.text-right
							img.img-rounded
						div.col-md-9.text-left.question
							- var type = question.multiple ? 'checkbox' : 'radio'
							h3.topfix= question.question
							//- p= 'author: ' + question.authorId.username
							- if(question.answers.length)
								each answer in question.answers
									input(type=type, name=question._id, value=answer._id)
									= ' ' + answer.answer
									br 

block scripts
	script(src="/socket.io/socket.io.js")
	script(type='text/javascript').
		var socket = io.connect();
		var session;
		// on document ready
		$(function(){
			socket.emit('ready')
			socket.on('sessiondata', function(data){
				session = data;
			})
			//- $('#questionContainer').on('click', '#questionContainer input', function(){
			//- 	console.log("clicked")
			//- 	socket.emit('answer', {user: req.user.username})
			//- })
			$('#questionContainer input').click(function(){
				socket.emit('answer', {user_id: session.user, question_id: $(this).attr("name"), answer_id: $(this).val()})
			})
		})
