extends layout

block content
	//- h1= title
	//- p Welcome to #{title}
	//- p What is up
	div.row
		div.col-md-10.centered.text-center
			if(first == 'true')
				div#first(data-value="first")

			div#questionContainer
				- var type = question.multiple ? 'checkbox' : 'radio'
				if(req.user)
					div.text-left.question.answered(id=question._id)
						h3.topfix= question.question
						p= 'author: ' + question.authorId.username
						if(question.answers.length)
							each answer in question.answers
								a(href="/follow/"+answer._id)
									span.glyphicon.glyphicon-share-alt
								!= "&nbsp;"
								input(type=type, name=question._id, value=answer._id, disabled)
								!= ' ' + answer.answer
								span 
									if(answer.answered.length)
										each user_answered in answer.answered
											= ' ' + user_answered.username
								br 

block scripts
	script(src="/socket.io/socket.io.js")
	script(type='text/javascript').
		var socket = io.connect();
		var session;
		// on document ready
		$(function(){
			socket.emit('ready')
			if ($("#first").data("value") == "first")
			{
				console.log("sending!!\n\n")
				socket.emit('send', {question: $("#questionContainer div").attr('id')})
			}
			socket.on('sessiondata', function(data){
				session = data;
			})
			socket.on('answer_return', function(data){
				$('#'+data._id).addClass('answered')
				for(var answer=0; answer < data.answers.length; answer++)
				{
					console.log(data.answers[answer])
					$("input[value='"+data.answers[answer]._id+"']").prop('disabled', true)
					for(var user=0; user<data.answers[answer].answered.length; user++)
					{
						$("input[value='"+data.answers[answer]._id+"']+span, input[value='"+data.answers[answer]._id+"']+img+span").append(" "+data.answers[answer].answered[user].username+" ")
					}
				}
				console.log(data);
			})
			socket.on('answer_append', function(data){
				if($('#'+data.question).hasClass('answered'))
				{
					$("input[value='"+data.answer+"']+span").append(" "+data.username+" ")
				}
				console.log(data);
			})
			//- $('#questionContainer').on('click', '#questionContainer input', function(){
			//- 	console.log("clicked")
			//- 	socket.emit('answer', {user: req.user.username})
			//- })
		})


